In [4]:
print (df.head()) #view data

print (df.info()) #description of data

print (df["Product"]) #exctracting single column

NameError: name 'df' is not defined

In [ ]:
import pandas as pd
import numpy as np
import random



# Set random seed for reproducibility
np.random.seed(42)

# Generate random data
n_observations = 50000

data = {
    "Order ID": [f"ORD-{i:05d}" for i in range(1, n_observations + 1)],
    "Product Category": np.random.choice(
        ["Furniture", "Office Supplies", "Technology"], n_observations
    ),
    "Sub-Category": np.random.choice(
        ["Chairs", "Tables", "Binders", "Paper", "Phones", "Accessories", "Storage", "Appliances"],
        n_observations
    ),
    "Region": np.random.choice(["East", "West", "Central", "South"], n_observations),
    "State": np.random.choice(
        ["California", "New York", "Texas", "Florida", "Illinois", "Pennsylvania"], n_observations
    ),
    "Sales": np.round(np.random.uniform(5, 1000, n_observations), 2),
    "Quantity": np.random.randint(1, 20, n_observations),
    "Discount": np.round(np.random.uniform(0, 0.5, n_observations), 2),
    "Profit": np.round(np.random.uniform(-200, 300, n_observations), 2),
    "Customer Segment": np.random.choice(
        ["Consumer", "Corporate", "Home Office", "Small Business"], n_observations
    )
}

# Create DataFrame
df_sales = pd.DataFrame(data)

# Display the first few rows of the dataset
df_sales.head()

,Order ID,Product Category,Sub-Category,Region,State,Sales,Quantity,Discount,Profit,Customer Segment
0,ORD-00001,Technology,Chairs,East,Pennsylvania,643.69,9,0.05,-4.38,Home Office
1,ORD-00002,Furniture,Paper,West,New York,639.14,9,0.27,-103.49,Consumer
2,ORD-00003,Technology,Appliances,West,California,941.55,10,0.20,64.66,Corporate
3,ORD-00004,Technology,Binders,Central,Florida,177.14,14,0.19,-196.23,Consumer
4,ORD-00005,Furniture,Accessories,West,Pennsylvania,444.01,15,0.10,16.61,Home Office

In [ ]:
print (df_sales)

        Order ID Product Category Sub-Category   Region         State   Sales  \
0      ORD-00001       Technology       Chairs     East  Pennsylvania  643.69
1      ORD-00002        Furniture        Paper     West      New York  639.14
2      ORD-00003       Technology   Appliances     West    California  941.55
3      ORD-00004       Technology      Binders  Central       Florida  177.14
4      ORD-00005        Furniture  Accessories     West  Pennsylvania  444.01
...          ...              ...          ...      ...           ...     ...
49995  ORD-49996       Technology      Storage    South         Texas  245.89
49996  ORD-49997  Office Supplies      Binders     East         Texas  907.46
49997  ORD-49998       Technology       Chairs     West    California  582.78
49998  ORD-49999        Furniture      Binders     West       Florida  569.74
49999  ORD-50000  Office Supplies       Chairs     East      Illinois  992.69

       Quantity  Discount  Profit Customer Segment
0             9      0.05   -4.38      Home Office
1             9      0.27 -103.49         Consumer
2            10      0.20   64.66        Corporate
3            14      0.19 -196.23         Consumer
4            15      0.10   16.61      Home Office
...         ...       ...     ...              ...
49995        18      0.50  149.37        Corporate
49996         6      0.15  -41.20        Corporate
49997         1      0.18  -79.18   Small Business
49998         6      0.24   12.29      Home Office
49999        16      0.14 -188.14      Home Office

[50000 rows x 10 columns]

In [ ]:
print (df_sales.info())

NameError: name 'df_sales' is not defined

In [ ]:
print (df_sales[["Quantity", "Sales"]])

       Quantity   Sales
0             9  643.69
1             9  639.14
2            10  941.55
3            14  177.14
4            15  444.01
...         ...     ...
49995        18  245.89
49996         6  907.46
49997         1  582.78
49998         6  569.74
49999        16  992.69

[50000 rows x 2 columns]

In [ ]:
sorted_df = df_sales.sort_values(by="Sales", ascending=False)
print(sorted_df.head()) #shows highest sales

        Order ID Product Category Sub-Category   Region     State   Sales  \
24442  ORD-24443       Technology       Phones     West  Illinois  999.99
5969   ORD-05970  Office Supplies      Binders     East  New York  999.92
18689  ORD-18690       Technology       Phones  Central  Illinois  999.91
25083  ORD-25084  Office Supplies   Appliances    South   Florida  999.91
42722  ORD-42723       Technology  Accessories     West  Illinois  999.89

       Quantity  Discount  Profit Customer Segment
24442         1      0.27  179.54   Small Business
5969          1      0.22    1.53        Corporate
18689        11      0.05  217.86         Consumer
25083         1      0.06   15.76      Home Office
42722         4      0.43  224.80        Corporate

In [ ]:
#group data and summarize

grouped = df_sales.groupby("Product Category")["Discount"].sum()
print (grouped.head())

Product Category
Furniture          4203.49
Office Supplies    4164.18
Technology         4167.42
Name: Discount, dtype: float64

In [ ]:
#filter data

profitable = df_sales[df_sales["Profit"]]

In [ ]:
#summarizing data

print (df_sales.describe())

              Sales      Quantity      Discount        Profit
count  50000.000000  50000.000000  50000.000000  50000.000000
mean     503.929971      9.998040      0.250702     49.620989
std      287.250204      5.476539      0.144483    144.635036
min        5.010000      1.000000      0.000000   -200.000000
25%      254.725000      5.000000      0.130000    -76.400000
50%      503.965000     10.000000      0.250000     49.485000
75%      751.885000     15.000000      0.380000    174.995000
max      999.990000     19.000000      0.500000    300.000000

In [ ]:
print (df_sales.dtypes())

In [ ]:
df_sales = df_sales.rename(columns={"Profit": "PROFIT"})
print (df_sales)

        Order ID Product Category Sub-Category   Region         State   Sales  \
0      ORD-00001       Technology       Chairs     East  Pennsylvania  643.69
1      ORD-00002        Furniture        Paper     West      New York  639.14
2      ORD-00003       Technology   Appliances     West    California  941.55
3      ORD-00004       Technology      Binders  Central       Florida  177.14
4      ORD-00005        Furniture  Accessories     West  Pennsylvania  444.01
...          ...              ...          ...      ...           ...     ...
49995  ORD-49996       Technology      Storage    South         Texas  245.89
49996  ORD-49997  Office Supplies      Binders     East         Texas  907.46
49997  ORD-49998       Technology       Chairs     West    California  582.78
49998  ORD-49999        Furniture      Binders     West       Florida  569.74
49999  ORD-50000  Office Supplies       Chairs     East      Illinois  992.69

       Quantity  Discount  PROFIT Customer Segment
0             9      0.05   -4.38      Home Office
1             9      0.27 -103.49         Consumer
2            10      0.20   64.66        Corporate
3            14      0.19 -196.23         Consumer
4            15      0.10   16.61      Home Office
...         ...       ...     ...              ...
49995        18      0.50  149.37        Corporate
49996         6      0.15  -41.20        Corporate
49997         1      0.18  -79.18   Small Business
49998         6      0.24   12.29      Home Office
49999        16      0.14 -188.14      Home Office

[50000 rows x 10 columns]

In [ ]:
df_sales = df_sales.drop(columns=["Customer Segment"])
df_sales

,Order ID,Product Category,Sub-Category,Region,State,Sales,Quantity,Discount,PROFIT
0,ORD-00001,Technology,Chairs,East,Pennsylvania,643.69,9,0.05,-4.38
1,ORD-00002,Furniture,Paper,West,New York,639.14,9,0.27,-103.49
2,ORD-00003,Technology,Appliances,West,California,941.55,10,0.20,64.66
3,ORD-00004,Technology,Binders,Central,Florida,177.14,14,0.19,-196.23
4,ORD-00005,Furniture,Accessories,West,Pennsylvania,444.01,15,0.10,16.61
...,...,...,...,...,...,...,...,...,...
49995,ORD-49996,Technology,Storage,South,Texas,245.89,18,0.50,149.37
49996,ORD-49997,Office Supplies,Binders,East,Texas,907.46,6,0.15,-41.20
49997,ORD-49998,Technology,Chairs,West,California,582.78,1,0.18,-79.18
49998,ORD-49999,Furniture,Binders,West,Florida,569.74,6,0.24,12.29
49999,ORD-50000,Office Supplies,Chairs,East,Illinois,992.69,16,0.14,-188.14

In [ ]:
df_sales = df_sales.reset_index(drop=True)
df_sales

,Order ID,Product Category,Sub-Category,Region,State,Sales,Quantity,Discount,PROFIT
0,ORD-00001,Technology,Chairs,East,Pennsylvania,643.69,9,0.05,-4.38
1,ORD-00002,Furniture,Paper,West,New York,639.14,9,0.27,-103.49
2,ORD-00003,Technology,Appliances,West,California,941.55,10,0.20,64.66
3,ORD-00004,Technology,Binders,Central,Florida,177.14,14,0.19,-196.23
4,ORD-00005,Furniture,Accessories,West,Pennsylvania,444.01,15,0.10,16.61
...,...,...,...,...,...,...,...,...,...
49995,ORD-49996,Technology,Storage,South,Texas,245.89,18,0.50,149.37
49996,ORD-49997,Office Supplies,Binders,East,Texas,907.46,6,0.15,-41.20
49997,ORD-49998,Technology,Chairs,West,California,582.78,1,0.18,-79.18
49998,ORD-49999,Furniture,Binders,West,Florida,569.74,6,0.24,12.29
49999,ORD-50000,Office Supplies,Chairs,East,Illinois,992.69,16,0.14,-188.14

In [ ]:
print (df_sales["State"].nunique(_))

6

In [ ]:
sorted_df = df_sales.sort_values(by=["PROFIT", "Sales"])
print (sorted_df)

        Order ID Product Category Sub-Category   Region         State   Sales  \
26232  ORD-26233  Office Supplies   Appliances    South       Florida  466.36
22354  ORD-22355  Office Supplies        Paper     West      New York  563.56
45856  ORD-45857  Office Supplies      Storage    South      New York  358.82
20528  ORD-20529  Office Supplies      Binders  Central    California  986.76
26287  ORD-26288       Technology       Chairs  Central         Texas  576.92
...          ...              ...          ...      ...           ...     ...
44467  ORD-44468        Furniture        Paper    South  Pennsylvania  811.71
41149  ORD-41150        Furniture       Phones    South      New York   51.10
47560  ORD-47561        Furniture       Phones  Central    California  297.63
35288  ORD-35289  Office Supplies        Paper     East      Illinois  315.74
28824  ORD-28825  Office Supplies   Appliances     East      New York  390.23

       Quantity  Discount  PROFIT
26232         9      0.49 -200.00
22354         3      0.40 -199.99
45856        12      0.31 -199.98
20528        10      0.07 -199.98
26287         9      0.22 -199.97
...         ...       ...     ...
44467         1      0.10  299.96
41149        15      0.06  299.99
47560        17      0.14  299.99
35288        17      0.29  299.99
28824        17      0.18  300.00

[50000 rows x 9 columns]

In [ ]:
filtered = df_sales[(df_sales["Sales"] > 300) & (df_sales["Quantity"] > 10)]
print (filtered)

        Order ID Product Category Sub-Category   Region         State   Sales  \
4      ORD-00005        Furniture  Accessories     West  Pennsylvania  444.01
5      ORD-00006        Furniture   Appliances     East  Pennsylvania  583.26
8      ORD-00009       Technology       Tables  Central    California  649.07
9      ORD-00010       Technology      Storage  Central    California  474.92
12     ORD-00013        Furniture       Phones  Central      New York  756.52
...          ...              ...          ...      ...           ...     ...
49984  ORD-49985        Furniture       Chairs     West    California  541.61
49985  ORD-49986       Technology       Phones  Central    California  851.37
49990  ORD-49991  Office Supplies      Binders     East      New York  510.58
49992  ORD-49993  Office Supplies        Paper    South      Illinois  691.46
49999  ORD-50000  Office Supplies       Chairs     East      Illinois  992.69

       Quantity  Discount  PROFIT
4            15      0.10   16.61
5            16      0.03   23.88
8            12      0.32   -2.31
9            13      0.29   93.97
12           13      0.19  -23.99
...         ...       ...     ...
49984        12      0.45  175.53
49985        19      0.30   97.10
49990        15      0.24  254.64
49992        18      0.31  136.41
49999        16      0.14 -188.14

[16750 rows x 9 columns]

In [ ]:
print (len(df_sales))

50000

In [ ]:
df_sales.shape

(50000, 9)

In [ ]:
.to_datetime # convert into date type from text

.dt.year #exctract year

In [ ]:
def calculate_discount(price):
    return price * 0.90
    

df_sales["Discounted Sales"] = df_sales["Sales"].apply(calculate_discount)
print (df_sales)

        Order ID Product Category Sub-Category   Region         State   Sales  \
0      ORD-00001       Technology       Chairs     East  Pennsylvania  643.69
1      ORD-00002        Furniture        Paper     West      New York  639.14
2      ORD-00003       Technology   Appliances     West    California  941.55
3      ORD-00004       Technology      Binders  Central       Florida  177.14
4      ORD-00005        Furniture  Accessories     West  Pennsylvania  444.01
...          ...              ...          ...      ...           ...     ...
49995  ORD-49996       Technology      Storage    South         Texas  245.89
49996  ORD-49997  Office Supplies      Binders     East         Texas  907.46
49997  ORD-49998       Technology       Chairs     West    California  582.78
49998  ORD-49999        Furniture      Binders     West       Florida  569.74
49999  ORD-50000  Office Supplies       Chairs     East      Illinois  992.69

       Quantity  Discount  PROFIT  Discounted Sales
0             9      0.05   -4.38           579.321
1             9      0.27 -103.49           575.226
2            10      0.20   64.66           847.395
3            14      0.19 -196.23           159.426
4            15      0.10   16.61           399.609
...         ...       ...     ...               ...
49995        18      0.50  149.37           221.301
49996         6      0.15  -41.20           816.714
49997         1      0.18  -79.18           524.502
49998         6      0.24   12.29           512.766
49999        16      0.14 -188.14           893.421

[50000 rows x 10 columns]

In [ ]:
max_sales = df_sales["Sales"].max()
min_sales = df_sales["Sales"].min()
print ("Max sales:", max_sales)
print ("Min sales:", min_sales)

Max sales: 999.99
Min sales: 5.01

In [ ]:
sample = df_sales.sample(4)
sample

,Order ID,Product Category,Sub-Category,Region,State,Sales,Quantity,Discount,PROFIT,Discounted Sales
28866,ORD-28867,Furniture,Paper,Central,Pennsylvania,240.24,14,0.37,216.11,216.216
36578,ORD-36579,Technology,Binders,South,New York,121.81,19,0.50,208.33,109.629
173,ORD-00174,Office Supplies,Tables,East,Illinois,965.50,15,0.21,190.56,868.950
39930,ORD-39931,Technology,Accessories,Central,Pennsylvania,394.59,11,0.35,241.86,355.131

In [ ]:
count = df_sales.value_counts

In [ ]:
import pandas as pd

df = pd.read_csv("https://archive.ics.uci.edu/dataset/45/heart+disease")
df.head()

In [ ]:
###############################

# Reimporting libraries and regenerating the heart disease dataset due to reset
import pandas as pd
import numpy as np



n_observations = 10000

data = {
    "Age": np.random.randint(29, 77, n_observations),
    "Sex": np.random.choice(["Male", "Female"], n_observations),
    "Chest Pain Type": np.random.choice(
        ["Typical Angina", "Atypical Angina", "Non-Anginal Pain", "Asymptomatic"],
        n_observations
    ),
    "Resting Blood Pressure (mm Hg)": np.random.randint(90, 200, n_observations),
    "Cholesterol (mg/dl)": np.random.randint(150, 400, n_observations),
    "Fasting Blood Sugar > 120 mg/dl": np.random.choice([0, 1], n_observations),
    "Resting ECG Results": np.random.choice(
        ["Normal", "ST-T Wave Abnormality", "Left Ventricular Hypertrophy"],
        n_observations
    ),
    "Max Heart Rate Achieved": np.random.randint(70, 210, n_observations),
    "Exercise-Induced Angina": np.random.choice([0, 1], n_observations),
    "Oldpeak (ST Depression Induced)": np.round(np.random.uniform(0, 6.2, n_observations), 2),
    "Slope of ST Segment": np.random.choice(["Upsloping", "Flat", "Downsloping"], n_observations),
    "Number of Major Vessels": np.random.randint(0, 4, n_observations),
    "Thalassemia": np.random.choice(["Normal", "Fixed Defect", "Reversible Defect"], n_observations),
    "Heart Disease (Target)": np.random.choice([0, 1], n_observations)  # 0: No, 1: Yes
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the first few rows of the dataset
df.head()

,Age,Sex,Chest Pain Type,Resting Blood Pressure (mm Hg),Cholesterol (mg/dl),Fasting Blood Sugar > 120 mg/dl,Resting ECG Results,Max Heart Rate Achieved,Exercise-Induced Angina,Oldpeak (ST Depression Induced),Slope of ST Segment,Number of Major Vessels,Thalassemia,Heart Disease (Target)
0,45,Female,Non-Anginal Pain,170,316,0,Left Ventricular Hypertrophy,151,1,5.56,Upsloping,1,Reversible Defect,0
1,71,Male,Atypical Angina,129,171,1,Left Ventricular Hypertrophy,77,1,2.58,Upsloping,1,Reversible Defect,1
2,56,Male,Typical Angina,128,356,0,Normal,139,1,5.74,Downsloping,2,Fixed Defect,0
3,55,Male,Atypical Angina,161,245,0,Normal,183,0,3.44,Downsloping,1,Reversible Defect,1
4,66,Male,Typical Angina,126,247,1,Normal,114,0,2.84,Flat,2,Fixed Defect,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              10000 non-null  int32
 1   Sex                              10000 non-null  object
 2   Chest Pain Type                  10000 non-null  object
 3   Resting Blood Pressure (mm Hg)   10000 non-null  int32
 4   Cholesterol (mg/dl)              10000 non-null  int32
 5   Fasting Blood Sugar > 120 mg/dl  10000 non-null  int32
 6   Resting ECG Results              10000 non-null  object
 7   Max Heart Rate Achieved          10000 non-null  int32
 8   Exercise-Induced Angina          10000 non-null  int32
 9   Oldpeak (ST Depression Induced)  10000 non-null  float64
 10  Slope of ST Segment              10000 non-null  object
 11  Number of Major Vessels          10000 non-null  int32
 12  Thalassemia                      10000 non-null  object
 13  Heart Disease (Target)           10000 non-null  int32
dtypes: float64(1), int32(8), object(5)
memory usage: 781.4+ KB

In [ ]:
print (df[["Age", "Thalassemia"]])

      Age        Thalassemia
0      45  Reversible Defect
1      71  Reversible Defect
2      56       Fixed Defect
3      55  Reversible Defect
4      66       Fixed Defect
...   ...                ...
9995   71       Fixed Defect
9996   67       Fixed Defect
9997   73       Fixed Defect
9998   71       Fixed Defect
9999   62       Fixed Defect

[10000 rows x 2 columns]

In [ ]:
sorted_df = df.sort_values(by="Resting Blood Pressure (mm Hg)", ascending=False)
print(sorted_df.head()) #shows highest bp

      Age     Sex   Chest Pain Type  Resting Blood Pressure (mm Hg)  \
4577   41  Female      Asymptomatic                             199
773    66    Male  Non-Anginal Pain                             199
5739   61  Female  Non-Anginal Pain                             199
9762   58  Female      Asymptomatic                             199
261    71    Male    Typical Angina                             199

      Cholesterol (mg/dl)  Fasting Blood Sugar > 120 mg/dl  \
4577                  308                                0
773                   211                                0
5739                  197                                1
9762                  348                                0
261                   280                                1

               Resting ECG Results  Max Heart Rate Achieved  \
4577                        Normal                      174
773   Left Ventricular Hypertrophy                      185
5739  Left Ventricular Hypertrophy                      118
9762                        Normal                      195
261   Left Ventricular Hypertrophy                      118

      Exercise-Induced Angina  Oldpeak (ST Depression Induced)  \
4577                        0                             0.87
773                         0                             4.95
5739                        1                             0.59
9762                        0                             4.88
261                         0                             0.33

     Slope of ST Segment  Number of Major Vessels        Thalassemia  \
4577           Upsloping                        1  Reversible Defect
773            Upsloping                        1             Normal
5739           Upsloping                        3       Fixed Defect
9762                Flat                        3       Fixed Defect
261            Upsloping                        0       Fixed Defect

      Heart Disease (Target)
4577                       1
773                        1
5739                       0
9762                       0
261                        0

In [ ]:
grouped = df.groupby("Cholesterol (mg/dl)")["Resting Blood Pressure (mm Hg)"].sum()
print (grouped.head())

Cholesterol (mg/dl)
150    5219
151    7147
152    4755
153    6451
154    5661
Name: Resting Blood Pressure (mm Hg), dtype: int32

In [ ]:
print (df.describe())

                Age  Resting Blood Pressure (mm Hg)  Cholesterol (mg/dl)  \
count  10000.000000                    10000.000000         10000.000000
mean      52.670900                      144.366200           273.201400
std       13.723251                       31.817802            72.781217
min       29.000000                       90.000000           150.000000
25%       41.000000                      117.000000           209.000000
50%       53.000000                      145.000000           272.000000
75%       65.000000                      172.000000           337.000000
max       76.000000                      199.000000           399.000000

       Fasting Blood Sugar > 120 mg/dl  Max Heart Rate Achieved  \
count                     10000.000000             10000.000000
mean                          0.492800               139.309600
std                           0.499973                40.503318
min                           0.000000                70.000000
25%                           0.000000               104.000000
50%                           0.000000               139.000000
75%                           1.000000               175.000000
max                           1.000000               209.000000

       Exercise-Induced Angina  Oldpeak (ST Depression Induced)  \
count                10000.000                     10000.000000
mean                     0.505                         3.102031
std                      0.500                         1.789888
min                      0.000                         0.000000
25%                      0.000                         1.560000
50%                      1.000                         3.110000
75%                      1.000                         4.650000
max                      1.000                         6.200000

       Number of Major Vessels  Heart Disease (Target)
count              10000.00000            10000.000000
mean                   1.49700                0.499000
std                    1.11531                0.500024
min                    0.00000                0.000000
25%                    0.00000                0.000000
50%                    2.00000                0.000000
75%                    2.00000                1.000000
max                    3.00000                1.000000

In [ ]:
print (df.dtypes())

In [ ]:
df = df.rename(columns={"Number of Major Vessels": "Major Vessels Count"})
df.head(11)

,Age,Sex,Chest Pain Type,Resting Blood Pressure (mm Hg),Cholesterol (mg/dl),Fasting Blood Sugar > 120 mg/dl,Resting ECG Results,Max Heart Rate Achieved,Exercise-Induced Angina,Oldpeak (ST Depression Induced),Slope of ST Segment,Major Vessels Count,Thalassemia,Heart Disease (Target)
0,45,Female,Non-Anginal Pain,170,316,0,Left Ventricular Hypertrophy,151,1,5.56,Upsloping,1,Reversible Defect,0
1,71,Male,Atypical Angina,129,171,1,Left Ventricular Hypertrophy,77,1,2.58,Upsloping,1,Reversible Defect,1
2,56,Male,Typical Angina,128,356,0,Normal,139,1,5.74,Downsloping,2,Fixed Defect,0
3,55,Male,Atypical Angina,161,245,0,Normal,183,0,3.44,Downsloping,1,Reversible Defect,1
4,66,Male,Typical Angina,126,247,1,Normal,114,0,2.84,Flat,2,Fixed Defect,1
5,37,Male,Typical Angina,158,366,1,Left Ventricular Hypertrophy,134,0,1.88,Upsloping,2,Reversible Defect,1
6,71,Male,Atypical Angina,133,282,1,Left Ventricular Hypertrophy,136,1,2.92,Flat,0,Reversible Defect,0
7,71,Female,Asymptomatic,117,373,1,ST-T Wave Abnormality,148,0,2.75,Downsloping,2,Reversible Defect,1
8,50,Female,Non-Anginal Pain,194,319,0,Normal,94,0,2.27,Downsloping,0,Fixed Defect,0
9,57,Female,Asymptomatic,195,304,0,Normal,162,1,1.59,Upsloping,0,Reversible Defect,1
10,64,Female,Non-Anginal Pain,159,305,0,ST-T Wave Abnormality,208,0,0.32,Downsloping,0,Fixed Defect,0

In [ ]:
df = df.drop(columns=["Exercise-Induced Angina"])
df

,Age,Sex,Chest Pain Type,Resting Blood Pressure (mm Hg),Cholesterol (mg/dl),Fasting Blood Sugar > 120 mg/dl,Resting ECG Results,Max Heart Rate Achieved,Oldpeak (ST Depression Induced),Slope of ST Segment,Major Vessels Count,Thalassemia
0,45,Female,Non-Anginal Pain,170,316,0,Left Ventricular Hypertrophy,151,5.56,Upsloping,1,Reversible Defect
1,71,Male,Atypical Angina,129,171,1,Left Ventricular Hypertrophy,77,2.58,Upsloping,1,Reversible Defect
2,56,Male,Typical Angina,128,356,0,Normal,139,5.74,Downsloping,2,Fixed Defect
3,55,Male,Atypical Angina,161,245,0,Normal,183,3.44,Downsloping,1,Reversible Defect
4,66,Male,Typical Angina,126,247,1,Normal,114,2.84,Flat,2,Fixed Defect
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,71,Female,Typical Angina,99,199,0,ST-T Wave Abnormality,159,1.69,Downsloping,1,Fixed Defect
9996,67,Female,Asymptomatic,114,331,0,Normal,207,2.15,Downsloping,3,Fixed Defect
9997,73,Female,Non-Anginal Pain,95,231,0,Left Ventricular Hypertrophy,115,2.35,Flat,1,Fixed Defect
9998,71,Male,Asymptomatic,134,398,0,ST-T Wave Abnormality,91,0.53,Flat,2,Fixed Defect
9999,62,Male,Atypical Angina,186,208,0,ST-T Wave Abnormality,155,5.70,Downsloping,1,Fixed Defect

In [ ]:
df = df.reset_index(drop=True)
df

,Age,Sex,Chest Pain Type,Resting Blood Pressure (mm Hg),Cholesterol (mg/dl),Fasting Blood Sugar > 120 mg/dl,Resting ECG Results,Max Heart Rate Achieved,Oldpeak (ST Depression Induced),Slope of ST Segment,Major Vessels Count,Thalassemia
0,45,Female,Non-Anginal Pain,170,316,0,Left Ventricular Hypertrophy,151,5.56,Upsloping,1,Reversible Defect
1,71,Male,Atypical Angina,129,171,1,Left Ventricular Hypertrophy,77,2.58,Upsloping,1,Reversible Defect
2,56,Male,Typical Angina,128,356,0,Normal,139,5.74,Downsloping,2,Fixed Defect
3,55,Male,Atypical Angina,161,245,0,Normal,183,3.44,Downsloping,1,Reversible Defect
4,66,Male,Typical Angina,126,247,1,Normal,114,2.84,Flat,2,Fixed Defect
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,71,Female,Typical Angina,99,199,0,ST-T Wave Abnormality,159,1.69,Downsloping,1,Fixed Defect
9996,67,Female,Asymptomatic,114,331,0,Normal,207,2.15,Downsloping,3,Fixed Defect
9997,73,Female,Non-Anginal Pain,95,231,0,Left Ventricular Hypertrophy,115,2.35,Flat,1,Fixed Defect
9998,71,Male,Asymptomatic,134,398,0,ST-T Wave Abnormality,91,0.53,Flat,2,Fixed Defect
9999,62,Male,Atypical Angina,186,208,0,ST-T Wave Abnormality,155,5.70,Downsloping,1,Fixed Defect

In [ ]:
print (df["Chest Pain Type"].nunique())

4

In [ ]:
sorted_df = df.sort_values(by=["Age", "Max Heart Rate Achieved"])
print (sorted_df)

      Age     Sex   Chest Pain Type  Resting Blood Pressure (mm Hg)  \
7901   29    Male      Asymptomatic                             101
8840   29  Female    Typical Angina                             130
2508   29  Female      Asymptomatic                             104
799    29    Male    Typical Angina                             139
3826   29    Male  Non-Anginal Pain                             132
...   ...     ...               ...                             ...
6173   76    Male  Non-Anginal Pain                             189
1463   76  Female  Non-Anginal Pain                             132
2676   76  Female  Non-Anginal Pain                              94
8220   76  Female  Non-Anginal Pain                             123
8856   76  Female      Asymptomatic                             142

      Cholesterol (mg/dl)  Fasting Blood Sugar > 120 mg/dl  \
7901                  213                                0
8840                  363                                1
2508                  375                                0
799                   321                                0
3826                  264                                0
...                   ...                              ...
6173                  399                                1
1463                  183                                0
2676                  187                                0
8220                  231                                1
8856                  321                                1

               Resting ECG Results  Max Heart Rate Achieved  \
7901  Left Ventricular Hypertrophy                       71
8840         ST-T Wave Abnormality                       71
2508         ST-T Wave Abnormality                       72
799                         Normal                       73
3826                        Normal                       73
...                            ...                      ...
6173         ST-T Wave Abnormality                      206
1463                        Normal                      207
2676         ST-T Wave Abnormality                      207
8220                        Normal                      208
8856  Left Ventricular Hypertrophy                      209

      Oldpeak (ST Depression Induced) Slope of ST Segment  \
7901                             6.20         Downsloping
8840                             0.88           Upsloping
2508                             5.11           Upsloping
799                              1.64         Downsloping
3826                             3.84           Upsloping
...                               ...                 ...
6173                             0.88         Downsloping
1463                             2.37         Downsloping
2676                             5.97           Upsloping
8220                             3.89         Downsloping
8856                             3.36                Flat

      Major Vessels Count        Thalassemia
7901                    2             Normal
8840                    1             Normal
2508                    1  Reversible Defect
799                     3       Fixed Defect
3826                    0       Fixed Defect
...                   ...                ...
6173                    2  Reversible Defect
1463                    3       Fixed Defect
2676                    3       Fixed Defect
8220                    0  Reversible Defect
8856                    1       Fixed Defect

[10000 rows x 12 columns]

In [ ]:
filtered = df[(df["Cholesterol (mg/dl)"] > 300) & (df["Resting Blood Pressure (mm Hg)"] > 150)]
filtered.head()

,Age,Sex,Chest Pain Type,Resting Blood Pressure (mm Hg),Cholesterol (mg/dl),Fasting Blood Sugar > 120 mg/dl,Resting ECG Results,Max Heart Rate Achieved,Oldpeak (ST Depression Induced),Slope of ST Segment,Major Vessels Count,Thalassemia
0,45,Female,Non-Anginal Pain,170,316,0,Left Ventricular Hypertrophy,151,5.56,Upsloping,1,Reversible Defect
5,37,Male,Typical Angina,158,366,1,Left Ventricular Hypertrophy,134,1.88,Upsloping,2,Reversible Defect
8,50,Female,Non-Anginal Pain,194,319,0,Normal,94,2.27,Downsloping,0,Fixed Defect
9,57,Female,Asymptomatic,195,304,0,Normal,162,1.59,Upsloping,0,Reversible Defect
10,64,Female,Non-Anginal Pain,159,305,0,ST-T Wave Abnormality,208,0.32,Downsloping,0,Fixed Defect

In [ ]:
print (len(df))
print (df.shape)

10000
(10000, 12)

In [ ]:
max_chol = df["Cholesterol (mg/dl)"].max()
min_chol = df["Cholesterol (mg/dl)"].min()
print ("Maximum cholestrol:", max_chol)
print ("Minimum cholestrol:", min_chol)

Maximum cholestrol: 399
Minimum cholestrol: 150

In [ ]:
sample = df.sample(4)
sample

,Age,Sex,Chest Pain Type,Resting Blood Pressure (mm Hg),Cholesterol (mg/dl),Fasting Blood Sugar > 120 mg/dl,Resting ECG Results,Max Heart Rate Achieved,Oldpeak (ST Depression Induced),Slope of ST Segment,Major Vessels Count,Thalassemia
8563,61,Female,Typical Angina,112,265,0,ST-T Wave Abnormality,93,3.40,Upsloping,3,Normal
7064,76,Female,Atypical Angina,102,323,0,ST-T Wave Abnormality,187,2.91,Flat,0,Fixed Defect
1516,58,Female,Atypical Angina,133,181,1,ST-T Wave Abnormality,180,3.42,Upsloping,0,Reversible Defect
9072,72,Female,Typical Angina,140,163,1,ST-T Wave Abnormality,178,0.31,Downsloping,0,Fixed Defect